.html-new-general {
    word-break: break-all;
    pre {
        white-space: pre-wrap;
    }
    img{
        max-width: 100%;
        height: auto;
        width: auto;
    }

    a {
        background-color: transparent;
        text-decoration: none;
        color: inherit;
        pointer-events: none;
    }

    p.ss-ad-icon2 {
        display: none !important;
    }

    .hide{
        display: none !important;
    }
}
